doctype html
html(lang=LANG.LANG)
    head
        block title
            title= document

        block metas
            meta(http-equiv="X-UA-Compatible" content="IE=edge")

        block commonLinks
            link(rel="shortcut icon", href="/statics/assets/favicon.ico")
            link(rel="bookmark", href="/favicon.ico")
            link(rel="stylesheet", href = "/statics/normalize.css/normalize.css")

        block links
            
        block styles


        block headScripts
            script(type='text/javascript').
                var LANG_CODE = '#{LANG.LANG_CODE}';
                var Ecpkn = !{JSON.stringify(Ecpkn || '')) || {};
                var LANG = !{JSON.stringify(LANG || '')) || {};

    body
    
        block content

        block scripts

