extend ../base.jade

block title
    title=title

block links
    link(rel = 'stylesheet', href = '/statics/styles/public-public.min.css')


block content
    div.site-header.site-header--blue
        div.site-header__row.site-header__main-nav.ptb--lg.plr--extra.table.row--full
            a(href="/")
                img.site-header__logo(src="/statics/images/logo.png" style="margin-top:15px;").table-cell
            div.site-header__link-group.table-cell.table-cell--middle
                a.site-header__link.link--flat(href="#")=LANG.sections.overview
                a.site-header__link.link--flat(href="#")=LANG.sections.news
                a.site-header__link.link--flat(href="#")=LANG.sections.faculty
                a.site-header__link.link--flat(href="#")=LANG.sections.party
                a.site-header__link.link--flat(href="#")=LANG.sections.cooperation
            div.site-header__link-group.table-cell.table-cell--middle
                a.link.link--flat.link--light(href="?lang=en") ENGLISH
                a.link.link--flat.link--light(href="?lang=zh") 中文
        div.site-header__row.site-header__sub-nav.rel.plr--lg
            a.site-header__link.site-header__link--flat.link--light(href="#")=LANG.sections.news
            a.site-header__link.site-header__link--flat.link--light(href="#")=LANG.sections.announcement
            input.input.input--light.w-2.abs.abs--center.abs--right.mr--extra.ptb.plr(type="search" placeholder=LANG.actions.search)

    div.main-wrapper.row--full.ptb--extra
        block mainContent
    div.site-footer.site-footer--dark
        a.link.link--flat.link--light(href="#")=LANG.sections.about

block scripts
    script(src="/statics/libs/ueditor/ueditor.parse.min.js")
    script.

